<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cost averaging simulator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2> Ledger</h2>
    <h3> {{ scrip }} [NSE]  {{scenario_info}}</h3>
    <p>{{scenario_info}}</p>
    <table class="table">
        <thead>
        <tr>
            <th>Starting Year</th>
            <th> Return on investment (%)</th>
        </tr>
        </thead>
        <tbody>
        {% for scenario in  data %}
        <tr>
            <td>{{ scenario.get('starting_year') }}  </td>
            <td>{{ scenario.get('roi') }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
